<button mat-stroked-button
        [matMenuTriggerFor]="usersMenu">
  <span>Explore</span>
</button>

<mat-menu #usersMenu="matMenu">
  <ng-template matMenuContent>
    <div mat-menu-item [disabled]="true">Users:</div>
    <button mat-menu-item
            *ngFor="let user of facade.users$ | async"
            [matMenuTriggerFor]="albumsMenu"
            [matMenuTriggerData]="{userId: user.id}"
            (menuOpened)="loadUserAlbums(user.id)">
      <mat-icon>person</mat-icon>
      <span>{{ user.name }}</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #albumsMenu="matMenu">
  <ng-template matMenuContent let-userId="userId">
    <div mat-menu-item [disabled]="true">Albums:</div>
    <div class="progress"
          mat-menu-item
          *ngIf="facade.loading$ | async">
      <mat-spinner strokeWidth="3" diameter="25"></mat-spinner>
    </div>
    <button mat-menu-item
            *ngFor="let album of facade.userAlbums$(userId) | async">
      <mat-icon>album</mat-icon>
      <span>{{ album.title }}</span>
    </button>
  </ng-template>
</mat-menu>
